mixin view_departments(array, groceryId)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          a(href='/department/' + val.id + '/' + groceryId) view  

mixin view_departments_extended(array, groceryId)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) ' + ' isVISIBLE?:  ' + val.visible
          a(href='/department/' + val.id + '/' + groceryId) view  

mixin view_departments_awesome(array, groceryId)
  if array
    ul
      each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          button_department(val.id, groceryId)
          a(href='/department/' + val.id + '/' + groceryId) view

          a(href='/visibility/department/' + val.id)
            i.fa.fa-bell.fa-4x
            SHOW   

//mixin view_groceries_short(array)
  //br
  //ul
    //each val, index in array
      //li= val.name + '( ' + val.id + ' ) '
        //a(href='/view/grocery/' + val.id, class="btn") link
      //+button_change_name(val.id)


mixin view_groceries_short2(array)
  br
  .col-xlg-4.col-md-6
    .round-border
      each val, index in array
        if( index == 0)
          a.border-item.active(href='/view/grocery/' + val.id)
            h4.list-group-item-heading= val.name + '( ' + val.id + ' ) '
              i.fa.fa-long-arrow-right(aria-hidden="true")

        else 
          a.border-item(href='/view/grocery/' + val.id)
            h4.list-group-item-heading= val.name + '( ' + val.id + ' ) '
              i.fa.fa-long-arrow-right(aria-hidden="true")
      

  


mixin view_groceries_departments(array)

  br
  ul
    each val, index in array
      li= val.name + '( ' + val.id + ' ) '
        a(href='/view/grocery/' + val.id, class="btn") link
      +button_change_name(val.id)
      +view_departments_awesome(val.departments, val.id)
      hr 

mixin view_departments_ingredients(array)
  if array
    ul
      each val, index in array
        li= val.name
          a(href='/#' + val.id) view

          a(href='/visibility/department/' + val.id)
            i.fa.fa-bell.fa-4x
            SHOW         




mixin link(href, name)
  a.btn(class!=attributes.class title=name href=href)= name

mixin link2(href, name)
  a.btn(class!=attributes.class title=name href=href target="_blank")= name

mixin button_clone_ultimate(object)
  +link('/clone/' + object.id, 'Create new grocery by cloning Grocery Template:  ' + object.name)(class="btn-primary")            

mixin button_department(id, groceryId)
  +link('/department/' + id + '/' + groceryId, 'view')

mixin button_department_awesome(id, groceryId)
  a(href='/department/' + id + '/' + groceryId)
    i.fa.fa-ellipsis-v

mixin button_view_grocery(groceryId, title)    
  +link('/view/grocery/' + groceryId, title)('btn btn-default')

//mixin button_facebook_login(class)
//  a(href='/auth/facebook', class=class) 'Login with Facebook'

mixin button_ingredients_list(groceryId, departmentId)
  +link('/todo/' + groceryId + '/' + departmentId, 'TODOLIST')

mixin button_change_name(groceryId)
  +link('/change-the-name/grocery/' + groceryId, '[change name !]')(class="btn")