mixin link(href, name)
  a.btn(class!=attributes.class title=name href=href target="_blank")= name

// example +link('http://peexaweb.com', 'Google')(class="additional-class")

mixin view_departments(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          a(href='/#' + val.id) view  

mixin view_departments_extended(array)
  ul
    each val, index in array
        li= val.name + '( ' + val.id + ' ) ' + ' isVISIBLE?:  ' + val.visible
          a(href='/#' + val.id) ' ' + view  

mixin view_departments_awesome(array, groceryId)
  if array
    ul
      each val, index in array
        li= val.name + '( ' + val.id + ' ) '
          a(href='/department/' + val.id + '/' + groceryId) view

          a(href='/visibility/department/' + val.id)
            i.fa.fa-bell.fa-4x
            SHOW   

mixin view_groceries_short(array)
  br
  ul
    each val, index in array
      li= val.title + '( ' + val.id + ' ) '
        a(href='/view/grocery/' + val.id, class="btn") link
      a(href='/change-the-name/grocery/' + val.id, class="btn") [change name beatch2!]

mixin view_groceries_departments(array)

  br
  ul
    each val, index in array
      li= val.title + '( ' + val.id + ' ) '
        a(href='/view/grocery/' + val.id, class="btn") link
      a(href='/change-the-name/grocery/' + val.id, class="btn") [change name beatch2!]

      +view_departments_awesome(val.departments, val.id)
      hr 

mixin view_departments_ingredients(array)
  if array
    ul
      each val, index in array
        li= val.name
          a(href='/#' + val.id) view



          a(href='/visibility/department/' + val.id)
            i.fa.fa-bell.fa-4x
            SHOW         


mixin button_clone_ultimate(object)            
  a.btn.btn-primary(href="/clone/" + object.id)= "CLONE GROCERY:  " + object.name