doctype html
html(lang='en', data-framework='jquery')
  head
    meta(charset='utf-8')
    title= 'Shopping List: ' + groceryId

    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')

    
    link(rel='stylesheet', href='/css/select-demo/normalize.css')
    link(rel='stylesheet', href='/css/select-demo/demo.css')
    link(rel='stylesheet', href='/css/select-demo/cs-select.css')
    link(rel='stylesheet', href='/css/select-demo/cs-skin-border.css')



    link(rel='stylesheet', href='/css/jquery/base.css')

    link(rel='stylesheet', href='/css/jquery/index.css')

    link(rel='stylesheet', href='/css/one.css')



  body(data-grocery-id=groceryId,data-isUltimate=0)


    //ul#foo
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1
      //li item1



    include ../../partials/departments-select2



    section#todoapp
      header#header
        //h1= name
        input#new-todo(placeholder='Item name', autofocus='', data-department-id=departmentId)
      section#main
        input#toggle-all(type='checkbox')
        label(for='toggle-all') Mark all as complete

        ul
          each element in list
            if element.completed
              li.completed(data-id=element.id, data-department-id=element.departmentId, data-order=element.order)
            else
              li(data-id=element.id, data-department-id=element.departmentId, data-order=element.order)

                div.view
                  if element.completed
                    input.toggle(type="checkbox", checked="checked")
                  else
                    input.toggle(type="checkbox", checked="checked")
                  label= element.name
                  button.destroy
                input.edit(value=element.name)

        ul#todo-list2
          
          each element in list
            if element.completed
              li.completed(data-id=element.id, data-department-id=element.departmentId, data-order=element.order)
            else
              li(data-id=element.id, data-department-id=element.departmentId, data-order=element.order)

              div.view | Tata
                if element.completed
                  input.toggle(type="checkbox", checked="checked")
                else
                  input.toggle(type="checkbox", checked="checked") 


      footer#footer
    footer#info
      p Double-click to edit an item 


    include ../../static/scripts-todo.pug  

    include ../../static/scripts-select.pug