doctype html
html(lang='en', data-framework='jquery')
  head
    meta(charset='utf-8')
    title= 'Shopping List: ' + groceryId

    //link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')


    link(rel='stylesheet', href='https://unpkg.com/onsenui/css/onsenui.css')

    link(rel='stylesheet', href='https://unpkg.com/onsenui/css/onsen-css-components.min.css')

    link(rel='stylesheet', href='/css/onsenUI/addon.css')

    link(rel='stylesheet', href='/css/onsenUI/items-center-only.css')



  body(data-grocery-id=groceryId, data-flag=isUltimate, data-ingredients=list, data-department-id=departmentId)

    //h3 
      a(href=back).pull-right 
        | Go Back 
        i.fa.fa-long-arrow-left.pull-right

    

    section#todoapp
      //- ons-card
      ul.list#footer-link
        //include ../../partials/department/best-select-update-my-name

        li.list__item#todo-er
          .list__item__left
            label.checkbox
              input#toggle-all.checkbox__input(type="checkbox", name="c") 
					        
              .checkbox__checkmark
					      
          label.list__item__center
            input#new-todo(type="text", class="text-input", placeholder='Item name', autofocus='') 

      //- footer part
      //#filters.button-bar(style="width:280px;margin:0 auto;") 

      //section#main

        //ul#todo-list
          
           each element in list
            h2=element.completed
            if element.completed
              li.completed(data-id=element.id, data-department-id=element.departmentId, data-order=element.order, data-custom=element.custom)
            else
              li(data-id=element.id, data-department-id=element.departmentId, data-order=element.order, data-custom=element.custom)

                div.view
                  if element.completed
                    input.toggle(type="checkbox", checked="checked")
                  else
                    input.toggle(type="checkbox")
                  label= element.name
                  button.destroy
                input.edit(value=element.name)


      //footer#footer
       #filters.button-bar(style="width:280px;margin:0 auto;") 
				


    footer#info
      p Double-click to edit an item 



      

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')

    script(src='https://use.fontawesome.com/8b5217f583.js')

    script(src='https://unpkg.com/onsenui/js/onsenui.min.js')
    //script(src='https://unpkg.com/jquery/dist/jquery.min.js')	
      
    
    script(src='/javascript/jquery/director.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js')

    script(src='/javascript/jquery/all2.js')