extends ../layouts/dashboard

block content
  .row
    .col-md-6.col-md-offset-3
      h2= name

      
      +link('/remove/grocery/' + groceryId, 'Remove GL FROM THIS USER')
      +link('/change/grocery/name/' + groceryId, 'Change name')

    section
      .col-md-12  
        include ../partials/departments-select
    



    .col-md-12
      .round-border
        each val, index in elements
          a.border-item(href='/todo/' + groceryId + '/' + val.id)
            h4.list-group-item-heading= val.name + '( ' + val.id + ' ) '
              i.fa.fa-long-arrow-right(aria-hidden="true")
              if val.ingredients.length
                i.fa.fa-eye-slash
              else    
                i.fa.fa-eye



    .col-md-12
      each val, index in elements
        .col-md-4.element-item
          h3= val.name
            a(href='/visibility/department/' + val.id + '/' + groceryId)
              if val.ingredients.length
                i.fa.fa-eye-slash
              else    
                i.fa.fa-eye
            |      
            +button_department_awesome(val.id, groceryId)
            
            //+button_ingredients_list(groceryId, val.id)
            
            +link('/todo/' + groceryId + '/' + val.id, 'Open TODO LIST')

                
          h5= val.type                  
          h5= val.id + ' <= Department ID'

          if val.ingredients.length
            ul
              each ing, j in val.ingredients
              
                li= ing[0] + ' | ' + ing[1]
                a(href='/'+ing[0], class="btn btn-default btn-small") empty
                a(href='/'+ing[0], class="btn btn-default btn-small") move
                a(href=ing[2], class="btn btn-default btn-small") delete
                a(href='/'+ing[0], class="btn btn-default btn-small") purchase
         
          hr  

    hr       




    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
  
    script(src='/javascript/select-demo/classie.js')
    script(src='/javascript/select-demo/selectFx.js')
    script.
      (function() {
      [].slice.call(
     document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
    new SelectFx(el);
    } );
    })();